# Vim swap files
*.swp

# NPM installation
node_modules/

# Build files
dev/  # development builds
dist/ # production builds to be deployed with Firebase

# Log files
*.log

# Secrets file
secret.js

# Backups from Firebase
backup
